@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Code', sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 1.5;
}

input,
textarea {
  background-color: #222221;
  outline: none;
  border: 2px solid #00A09A;
  border-radius: 10px;
  padding: 12px;
  font-size: 20px;
  color: white;
  resize: none;
}